<nav>
    <div class="navbar">

        <ul>
            <a href="/" class="anchor">
                <li>Hub</li>
            </a>
            <a href="/payment" class="anchor">
                <li>Plans</li>
            </a>
            <a href="#contact-container" class="anchor">
                <li>Connect</li>
            </a>
        </ul>

    </div>
</nav>