<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <nav>
        <div class="navbar">

            <ul>
                <a href="/" class="anchor">
                    <li>Hub</li>
                </a>
                <a href="/payment" class="anchor">
                    <li>Plans</li>
                </a>
                <a href="#contact-container" class="anchor">
                    <li>Connect</li>
                </a>
            </ul>
        </div>

    </nav>

    <% if (!user) { %>

        <a href="/login" id="link">
            <div class="loginbtn">
                Login
            </div>
        </a>

        <% } else { %>

            <p id="userhead">Welcome <%= user.name %>
            </p>

            <% } %>


                <section id="hero-section">

                    <div id="hero-container">
                        <div id="hero-container1">
                            <div id="hero-text1">
                                <span>PLAY ANY PC GAMES INSTANTLY</span>
                            </div>

                            <div id="hero-text2">
                                <span>RENT PREMIUM GAME ACCOUNTS FOR A FRACTION OF THE COST</span>
                            </div>

                            <div id="hero-text3">
                                <span>Unlock a massive library of top PC titles. No high cost
                                    needed, no full purchase required. Start gaming now on
                                    our secure, verified platform!</span>
                            </div>

                        </div>
                    </div>


                </section>

                <section id="main">

                    <a href="/payment">
                        <div class="rentbtn">
                            <span>Rent Now</span>
                        </div>
                    </a>

                </section>

                <section id="contact section">

                    <div id="contact-scroll">

                        <div id="contact-container">
                            <span id="contacthead">Contact Us</span>
                            <form action="" method="post">

                                <!-- <span class="inputnames">name</span> -->

                                <input type="text" name="name" class="input" placeholder="Player Name">

                                <input type="text" name="number" class="input" placeholder="Player Email">

                                <input type="text" name="email" class="input" placeholder="Any Game Suggestion">

                                <input type="reset" name="reset" class="lowerinput">

                                <input type="submit" name="submit" class="lowerinput">
                            </form>
                        </div>


                    </div>


                </section>

                <footer>


                    <div class="footcontainer">
                        <div id="parent2">
                            <div id="child1">
                                <div class="footer-icon">
                                    <span id="cname2"> GigaZen</span>
                                </div>
                                <div class="footer-descrip">
                                    <span id="descrip">Rent Premuim Account Games at just a minimal cost , in just one
                                        place. Your
                                        Dream comes true</span>
                                    <br>
                                    <p>By A and P</p>
                                </div>
                                <div class="social-icons">
                                    <i class="fa-brands fa-square-x-twitter" id="icon1"></i>
                                    <i class="fa-brands fa-square-instagram" id="icon2"></i>
                                    <i class="fa-brands fa-square-github" id="icon3"></i>
                                    <i class="fa-brands fa-square-linkedin" id="icon4"></i>
                                </div>
                            </div>
                            <div id="myphoto">

                            </div>
                            <div id="content-container">

                                <div class="content-1">
                                    <span id="content-span1">Services</span>
                                    <span id="content-span2">Features</span>
                                    <span id="content-span3">Pricing</span>
                                    <span id="content-span4">Random</span>
                                    <span id="content-span5">Changelog</span>
                                </div>

                                <div class="content-2">
                                    <span id="content-span6">Resources</span>
                                    <span id="content-span7">Documentation</span>
                                    <span id="content-span8">Tutorials</span>
                                    <span id="content-span9">Blog</span>
                                    <span id="content-span10">Support</span>
                                </div>

                                <div class="content-3">
                                    <span id="content-span11">Company</span>
                                    <span id="content-span12">About</span>
                                    <span id="content-span13">Careers</span>
                                    <span id="content-span14">Contact Us</span>
                                    <span id="content-span15">Partners</span>

                                </div>

                            </div>
                        </div>
                    </div>

                </footer>

</body>

</html>