<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>

    <%- include("../partials/navbar") %>

        <div class="container">
            <div class="cards">
                <div class="card-heading">
                    <p>ZEN BASIC</p>
                    <p>₹299/month</p>
                </div>
                <div id="firstcard">
                    <p id="first">3 Games</p>
                    <p id="second">0 AAA Games</p>
                    <p id="third">24*7 Support</p>
                    <p id="fourth">Instant Delievery</p>
                </div>

                <!-- <a href="" class="link">
                    <div class="paybtn">
                        RENT NOW
                    </div>
                </a> -->

            </div>
            <div class="cards">

                <div class="card-heading">
                    <p>ZEN PREMIUM</p>
                    <p>₹499/month</p>
                </div>
                <div id="firstcard">
                    <p id="first">10 Games</p>
                    <p id="second">3 AAA Games</p>
                    <p id="third">24*7 Support</p>
                    <p id="fourth">Instant Delievery</p>
                </div>

                <!-- <a href="" class="link">
                    <div class="paybtn">
                        RENT NOW
                    </div>
                </a> -->

            </div>
            <div class="cards">

                <div class="card-heading">
                    <p>ZEN PREMIUM +</p>
                    <p>₹1199/month</p>
                </div>
                <div id="firstcard">
                    <p id="first">20 Games</p>
                    <p id="second">10 AAA Games</p>
                    <p id="third">24*7 Support</p>
                    <p id="fourth">Instant Delievery</p>
                </div>

                <a href="/payment/create-order" class="link">
                    <div class="paybtn">
                        RENT NOW
                    </div>
                </a>

            </div>
        </div>

        <%- include("../partials/footer") %>

            <script>

                document.getElementsByClassName('paybtn').onclick = async function () {

                    const res = await fetch("/payment/create-order", {
                        method: "POST"
                    })

                    const order = await res.json();

                    const options = {
                        key : "rzp_test_SXyVmneVBmdXh2",
                        amount : order.amount,
                        currency : "INR",
                        name : "gigazen",
                        description: "Game Account Rental Platform",
                        order_id : order.id,
                        handler : function (response) {
                            alert("Payment Successful");
                            console.log(response);
                        }
                    }

                    const rzp = new Razorpay(options);
                    rzp.open();

                }

            </script>

</body>

</html>