* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background: #f6f9fc;
  background: linear-gradient(180deg, #f3faf6 0%, #f6f9fc 100%);
  background: #020617;
  min-height: 100vh;
}

.container {
  max-width: auto;
  margin: 20px auto;
  padding: 0px 20px;
}

.about {
  background: linear-gradient(180deg, #020617, #0a0f2c);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h1 {
  color: #00e5ff;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  background-color: linear-gradient(45deg, #2c5530, #4caf50);
  font-family: "Orbitron", sans-serif;
}

.intro {
  font-size: 1.1em;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}

.stats {
  background: #ff6a00;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.solutions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.solution-card {
  background: #00e5ff;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.solution-card p {
  font-family: "Poppins", sans-serif;
}

.solution-card:hover {
  transform: translateY(-5px);
}

.solution-card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: "Orbitron", sans-serif;
}

.join {
  text-align: center;
  margin-top: 40px;
}

.join-button {
  background: #ff6a00;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
    font-family: "Orbitron", sans-serif;
}

.join-button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  .solutions-grid {
    grid-template-columns: 1fr;
  }
}
